/*
Theme Name: Jaap Cohen (North Child Theme)
Theme URI: https://array.is/themes/north-wordpress-theme/
Description: North is a contemporary, clean and bold canvas for showing off your latest projects, photographs or video reels. Customisations by Somtijds.
Author: Array
Author URI: https://arraythemes.com
Version: 1.0
Template: north
Tags: white, gray, white, two-columns, flexible-width, custom-background, custom-colors, custom-menu, editor-style, featured-images, theme-options, translation-ready, threaded-comments
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/*
This is a starter style.css file for your child theme. For more
information about child themes, visit the following web page:
http://codex.wordpress.org/Child_Themes
*/

/* @import url("../north/style.css"); */
/* Add your customizations below this line */

* {margin: 0; padding: 0;}

.uc-wrapper {
	width: 100%;
	height:100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
}
.uc {
  /*-webkit-transition:width 0.25s, height 0.25s, -webkit-transform 0.25s;
  -moz-transition:width 0.25s, height 0.25s, -moz-transform 0.25s;*/
	width: 22em;
	background: transparent;
	box-shadow: 0 0 0 0 rgba(0,0,0,0.3);
	text-align: center;
}

.uc__content {
	text-align: left;
	font-family: 'Open Sans', arial, sans-serif;
	margin: 0;
	width: 100%;
	color: #444;
	font-size: 1em;
	font-weight: 300;
	display: inline-block;
}

.uc__content:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}

.uc__content {
	display: block;
}

.uc__content p {
	display: block;
	width: 100%;
	margin-bottom: 1.5em;
	letter-spacing: 1px;
}

.uc__content .text-wrapper {
  margin: 1em;
}

.uc__description {
	padding: 0;
	margin: 0;
	float: right;
}

.uc__content p strong {
	font-weight: 400;
}

.uc__content p a {
  color: #222;
	text-decoration: none;
}

.uc__content p a:hover {
	text-decoration: underline;
}


@media screen and (max-width : 640px) {

	div.uc__content p {
		font-size: 0.9em;
		letter-spacing: 0;
	}

}

#footer, #portfolio_item__footer {
	background: #eff0f1;
	display: inline-block;
	width: 100%;
	text-align: left;
	padding: 7% 0;
	color: #666;
	font-size: 16px;
	line-height: 1.6;
}

.single-array-portfolio .entry-title {
	width: 90%;
	max-width: 90%;
}

.tax-categories #wrapper {
	background: #eff0f1;
}

.tax-categories #content,
.tax-categories #content .posts,
.post-box-wrap,
.block-post {
	background: transparent;
}

.tax-categories #content .posts {
	padding-top: 1em;
}

.block-post .box-wrap {
	background: #fff;
}

.block-post .box-wrap-title {
	display: none;
	z-index: auto;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-wrap: nowrap;
	height: 100%;
	width: 100%;
}

.block-post .box-wrap-title p {
	display: block;
	width: 100%;
	font-size: 0.75em;
}

.block-post .box-title-link {
	display: block;
	font-weight: bold;
}

.block-post:hover .box-wrap-title {
	display: flex;
}

.block-post .box-title-link:hover {
	color: #555 !important;
}

.block-post .box-wrap-title p a,
.block-post .box-wrap-title p a:hover {
	color: #555;
}

.block-post:hover img {
	/*transform: scale(1.1);
	-webkit-transition: transform .4s ease-out;
	-moz-transition: transform .4s ease-out;
	-o-transition: transform .4s ease-out;
	transition: transform .4s ease-out;*/
}

.block-post:hover .featured-image {
	opacity: .15;
}

.block-post {
	overflow: hidden;
}

.block-post .in-progress {
	position: absolute;
	top: 12%;
	left: -25%;
	font-size: 0.9em;
	color: #fff;
	width: 100%;
	transform: rotate(-35deg);
	text-align: center;
}

.in-progress--title {
	white-space: nowrap;
	font-size: 0.8em;
}

#jaap_cohen_related_portfolio-2 {
	width: 100%;
}

#sidebar .widget_sp_image {
	padding: 0px;
}